USE [ProductManagement]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 30-12-2025 15:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BrandMst]    Script Date: 30-12-2025 15:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BrandMst](
	[Brand_Id] [int] IDENTITY(1,1) NOT NULL,
	[Brand_Name] [varchar](100) NOT NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Brand_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryBrandMapping]    Script Date: 30-12-2025 15:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryBrandMapping](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Category_Id] [int] NOT NULL,
	[Brand_Id] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryMst]    Script Date: 30-12-2025 15:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryMst](
	[Category_Id] [int] IDENTITY(1,1) NOT NULL,
	[Category_Name] [varchar](100) NOT NULL,
	[IsActive] [bit] NULL,
	[Parent_Category_Id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Category_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductMst]    Script Date: 30-12-2025 15:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductMst](
	[Product_Id] [int] IDENTITY(1,1) NOT NULL,
	[Product_Name] [varchar](150) NULL,
	[Product_Code] [varchar](50) NULL,
	[Brand_Id] [int] NULL,
	[Price] [decimal](10, 2) NULL,
	[IsActive] [bit] NULL,
	[Category_Id] [int] NULL,
	[Entry_Date] [datetime] NULL,
	[Update_Date] [datetime] NULL,
	[Mfg_Date] [date] NOT NULL,
	[Expiry_Date] [date] NULL,
 CONSTRAINT [PK_ProductMst] PRIMARY KEY CLUSTERED 
(
	[Product_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BrandMst] ON 

INSERT [dbo].[BrandMst] ([Brand_Id], [Brand_Name], [IsActive]) VALUES (1, N'Apple', 1)
INSERT [dbo].[BrandMst] ([Brand_Id], [Brand_Name], [IsActive]) VALUES (2, N'Samsung', 1)
INSERT [dbo].[BrandMst] ([Brand_Id], [Brand_Name], [IsActive]) VALUES (3, N'OnePlus', 1)
GO
SET IDENTITY_INSERT [dbo].[BrandMst] OFF
GO
SET IDENTITY_INSERT [dbo].[CategoryBrandMapping] ON 

INSERT [dbo].[CategoryBrandMapping] ([Id], [Category_Id], [Brand_Id], [IsActive]) VALUES (1, 8, 1, 1)
INSERT [dbo].[CategoryBrandMapping] ([Id], [Category_Id], [Brand_Id], [IsActive]) VALUES (2, 8, 2, 1)
INSERT [dbo].[CategoryBrandMapping] ([Id], [Category_Id], [Brand_Id], [IsActive]) VALUES (3, 8, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[CategoryBrandMapping] OFF
GO
SET IDENTITY_INSERT [dbo].[CategoryMst] ON 

INSERT [dbo].[CategoryMst] ([Category_Id], [Category_Name], [IsActive], [Parent_Category_Id]) VALUES (1, N'Electronics', 1, NULL)
INSERT [dbo].[CategoryMst] ([Category_Id], [Category_Name], [IsActive], [Parent_Category_Id]) VALUES (2, N'Clothing', 1, NULL)
INSERT [dbo].[CategoryMst] ([Category_Id], [Category_Name], [IsActive], [Parent_Category_Id]) VALUES (3, N'Food & Beverages', 1, NULL)
SET IDENTITY_INSERT [dbo].[CategoryMst] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductMst] ON 

INSERT [dbo].[ProductMst] ([Product_Id], [Product_Name], [Product_Code], [Brand_Id], [Price], [IsActive], [Category_Id], [Entry_Date], [Update_Date], [Mfg_Date], [Expiry_Date]) VALUES (2018, N'Coffee', N'Coffee-1', 449, CAST(200.00 AS Decimal(10, 2)), 1, 28, CAST(N'2025-12-30T12:58:40.833' AS DateTime), CAST(N'2025-12-30T12:58:40.833' AS DateTime), CAST(N'2025-12-01' AS Date), CAST(N'2025-12-31' AS Date))
INSERT [dbo].[ProductMst] ([Product_Id], [Product_Name], [Product_Code], [Brand_Id], [Price], [IsActive], [Category_Id], [Entry_Date], [Update_Date], [Mfg_Date], [Expiry_Date]) VALUES (2019, N'Tea', N'Tea-1', 445, CAST(150.00 AS Decimal(10, 2)), 1, 28, CAST(N'2025-12-30T14:18:04.047' AS DateTime), CAST(N'2025-12-30T14:18:04.047' AS DateTime), CAST(N'2025-11-30' AS Date), CAST(N'2026-01-10' AS Date))
INSERT [dbo].[ProductMst] ([Product_Id], [Product_Name], [Product_Code], [Brand_Id], [Price], [IsActive], [Category_Id], [Entry_Date], [Update_Date], [Mfg_Date], [Expiry_Date]) VALUES (2020, N'Coffee', N'Coffee-1', 449, CAST(400.00 AS Decimal(10, 2)), 1, 28, CAST(N'2025-12-30T15:26:24.587' AS DateTime), CAST(N'2025-12-30T15:26:24.587' AS DateTime), CAST(N'2025-12-01' AS Date), CAST(N'2025-12-30' AS Date))
SET IDENTITY_INSERT [dbo].[ProductMst] OFF
GO
ALTER TABLE [dbo].[BrandMst] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CategoryBrandMapping] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CategoryMst] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CategoryBrandMapping]  WITH CHECK ADD  CONSTRAINT [FK__CategoryB__Brand__5EBF139D] FOREIGN KEY([Brand_Id])
REFERENCES [dbo].[BrandMst] ([Brand_Id])
GO
ALTER TABLE [dbo].[CategoryBrandMapping] CHECK CONSTRAINT [FK__CategoryB__Brand__5EBF139D]
GO
ALTER TABLE [dbo].[CategoryBrandMapping]  WITH NOCHECK ADD FOREIGN KEY([Category_Id])
REFERENCES [dbo].[CategoryMst] ([Category_Id])
GO
